@font-face {
  font-family: "Vazir";
  src: url("../../public/fonts/Vazir-Medium.woff2");
  src: url("../../public/fonts/Vazir-Medium.woff2");
  src: url("../../public/fonts/Vazir-Medium.ttf");
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: Vazir !important;
}
